automation/n8n_shadow_workflow.json
{
  "name": "V12 Daily Shadow Horse-Race",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "30 21 * * *" } ] }
      },
      "name": "Schedule (daily 21:30 ET, after US close)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [ 240, 300 ]
    },
    {
      "parameters": {
        "command": "cd /opt/v12 && python -m experiments.run_all_shadow --log results/shadow_ledger.jsonl"
      },
      "name": "Run Shadow Horse-Race",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [ 480, 300 ],
      "notes": "Runs all 4 variants, logs realized paper returns + decisions to the persisted ledger."
    },
    {
      "parameters": {
        "jsCode": "const out = $json.stdout || '';\nconst line = out.split('\\n').find(l => l.startsWith('SHADOW_SUMMARY='));\nif (!line) { throw new Error('No SHADOW_SUMMARY emitted'); }\nconst s = JSON.parse(line.replace('SHADOW_SUMMARY=', ''));\nconst rows = Object.entries(s.sleeves).map(([sleeve, v]) => ({ json: { date: s.date, sleeve, ...v } }));\nreturn rows;"
      },
      "name": "Parse Summary (one row per sleeve)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 720, 300 ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $env.METRICS_SHEET_ID }}",
        "sheetName": "shadow_nav"
      },
      "name": "Store NAV row (Google Sheets)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 960, 200 ],
      "notes": "One row per sleeve per day: regime, exposure, day_return, rolling sharpe. Swap for Postgres/S3 as desired."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "combinator": "or",
          "conditions": [
            { "leftValue": "={{ $json.day_return }}", "rightValue": -0.04, "operator": { "type": "number", "operation": "lt" } },
            { "leftValue": "={{ $json.regime }}", "rightValue": "crisis", "operator": { "type": "string", "operation": "contains" } }
          ]
        }
      },
      "name": "Risk event? (loss > 4% or crisis)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 960, 380 ]
    },
    {
      "parameters": {
        "text": "=⚠️ V12 shadow risk event {{ $json.date }}\nsleeve={{ $json.sleeve }} regime={{ $json.regime }} day_return={{ $json.day_return }} exposure={{ $json.exposure }}"
      },
      "name": "Alert (Slack/Telegram)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [ 1200, 380 ]
    }
  ],
  "connections": {
    "Schedule (daily 21:30 ET, after US close)": { "main": [ [ { "node": "Run Shadow Horse-Race", "type": "main", "index": 0 } ] ] },
    "Run Shadow Horse-Race": { "main": [ [ { "node": "Parse Summary (one row per sleeve)", "type": "main", "index": 0 } ] ] },
    "Parse Summary (one row per sleeve)": { "main": [ [ { "node": "Store NAV row (Google Sheets)", "type": "main", "index": 0 }, { "node": "Risk event? (loss > 4% or crisis)", "type": "main", "index": 0 } ] ] },
    "Risk event? (loss > 4% or crisis)": { "main": [ [ { "node": "Alert (Slack/Telegram)", "type": "main", "index": 0 } ], [] ] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "description": "Daily: run the 4-variant shadow horse-race, store one NAV row per sleeve, alert on risk events (daily loss > 4% or crisis regime). The forward paper test that decides which variant earns promotion to live-paper." }
}
