automation/n8n_workflow.json
{
  "name": "V12 Nightly Research Loop",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "0 2 * * 1-5" } ] }
      },
      "name": "Schedule (weeknights 02:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [ 240, 300 ]
    },
    {
      "parameters": {
        "command": "cd /opt/v12 && /opt/v12/.venv/bin/python automation/run_backtest_cli.py --name nightly --dca dca"
      },
      "name": "Run Backtest",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [ 480, 300 ]
    },
    {
      "parameters": {
        "jsCode": "const out = $json.stdout || '';\nconst line = out.split('\\n').find(l => l.startsWith('V12_SUMMARY='));\nif (!line) { throw new Error('No V12_SUMMARY emitted'); }\nreturn [{ json: JSON.parse(line.replace('V12_SUMMARY=', '')) }];"
      },
      "name": "Parse Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 720, 300 ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $env.METRICS_SHEET_ID }}",
        "sheetName": "metrics"
      },
      "name": "Store Metrics",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 960, 200 ],
      "notesInFlow": true,
      "notes": "Swap for Postgres/S3 as desired. Stores one row per run for version comparison."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "combinator": "or",
          "conditions": [
            { "leftValue": "={{ $json.beat_spy }}", "rightValue": false, "operator": { "type": "boolean", "operation": "false" } },
            { "leftValue": "={{ $json.mc_stability }}", "rightValue": 1.0, "operator": { "type": "number", "operation": "lt" } }
          ]
        }
      },
      "name": "Degradation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 960, 380 ]
    },
    {
      "parameters": {
        "text": "=⚠️ V12 nightly degradation\nbeat_spy={{ $json.beat_spy }} IC={{ $json.ic_mean }} stability={{ $json.mc_stability }}\nstrategy=${{ $json.strategy_final }} spy=${{ $json.spy_final }}"
      },
      "name": "Alert (Slack/Telegram)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [ 1200, 460 ]
    },
    {
      "parameters": {
        "command": "cd /opt/v12 && /opt/v12/.venv/bin/python -m experiments.run_research_cycle --name retrain_$(date +%Y%m%d)"
      },
      "name": "Trigger Retraining Cycle",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [ 1200, 300 ]
    }
  ],
  "connections": {
    "Schedule (weeknights 02:00)": { "main": [ [ { "node": "Run Backtest", "type": "main", "index": 0 } ] ] },
    "Run Backtest": { "main": [ [ { "node": "Parse Summary", "type": "main", "index": 0 } ] ] },
    "Parse Summary": { "main": [ [ { "node": "Store Metrics", "type": "main", "index": 0 }, { "node": "Degradation?", "type": "main", "index": 0 } ] ] },
    "Degradation?": { "main": [ [ { "node": "Alert (Slack/Telegram)", "type": "main", "index": 0 }, { "node": "Trigger Retraining Cycle", "type": "main", "index": 0 } ], [] ] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "description": "Runs nightly V12 backtest, stores metrics, compares vs SPY, alerts on degradation, and triggers a retraining research cycle." }
}
